


body{
    text-align: center;
    color: darkslateblue;
    background-color: rgb(116, 135, 158);
}

thead{
    background-color: rgba(127, 255, 212, 0.493);
}

tbody{
    background-color: rgba(135, 206, 250, 0.267);
}

